## Code will open and analyze data of video game purchases

In [6]:
# Ensure path to files 
import os

os.getcwd()

'C:\\Users\\Tbbsp\\TinaDataClass\\ku-edw-data-pt-04-2020-u-c\\04-Pandas\\Pandas-Challenge\\HeroesOfPymoli'

In [7]:
# Import pandas and numpy 
import pandas as pd
import numpy as np

# Open the purchase data 
Load_File = "Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Panda function to read in csv file from upper path "Load_File"
PurchaseData = pd.read_csv(Load_File)

# Do a check of the data via .head() "What does it look like?"
PurchaseData.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
# Counting the number of entries in each column in case of NaNs/blanks etc
PurchaseData.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Total number of players

In [11]:
# See how many unique "SN" sign in names we have for players in data
players = len(PurchaseData['SN'].unique())

# Put the number of unique sign in names into a data frame
PlayersDataFrame = pd.DataFrame({"Total # of Players": [len(PurchaseData.SN.unique())]})
PlayersDataFrame

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Number of unique items


* Average purchase price


* Total number of purchases


* Tota Revenue

In [13]:
# Count of unique games "Item ID"
UniqueItems = len(PurchaseData['Item ID'].unique())

# Mean of PurchaseData
AveragePrice = PurchaseData['Price'].mean()

# Get a count with Python function len, (length of string)
TotalPurchases = len(PurchaseData['Purchase ID'])

# Get total revenue with Pythong function sum
TotalRevenue = sum(PurchaseData['Price'])

# Build a data frame with the results
PurchasAnalysisDataFrame = pd.DataFrame({
    'Unique items': UniqueItems,
    'Avg Purchase Price': '${:.2f}'.format(AveragePrice),
    'Total Purchases': TotalPurchases,
    'Total Revenue': '${:.2f}'.format(TotalRevenue)
},index=[0])
PurchasAnalysisDataFrame

   Unique items Avg Purchase Price  Total Purchases Total Revenue
0           179              $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
# Get rid of duplicated data

Gender = PurchaseData.drop_duplicates('SN')

# Count how many of each gender
CountOfGender = Gender['Gender'].value_counts()

# Calculate the percentage of each gender
PercentOfGender = (Gender['Gender'].value_counts()/players)*100

# Put into data frame
GenderDataFrame = pd.DataFrame({
    '# of Players': CountOfGender,
    '% of Total Players': PercentOfGender.map('{:.2f}%'.format)
})
GenderDataFrame

                       # of Players % of Total Players
Male                            484             84.03%
Female                           81             14.06%
Other / Non-Disclosed            11              1.91%


## Purchasing Analysis (Gender)

* Purchase count

* Average purchase price

* Total purchase value

* Average purchase total per person by gender

In [19]:
# Groupby gender to count by it
GenderPurchaseData = PurchaseData.groupby('Gender')
CountOfGenderPurchase = GenderPurchaseData['Gender'].count()
CountOfGenderPurchase #test works

# Groupby gender to calculate the average price paid by gender
GenderPurchaseMean = GenderPurchaseData['Price'].mean()
GenderPurchaseMean #test works

# Groupby gender to calculate the total paid by gender
GenderPurchaseTotal = GenderPurchaseData['Price'].sum()

GenderPurchaseTotal

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
# Putting into data frame
GenderPurchaseDataFrame = pd.DataFrame({
    '# of Players': CountOfGender,
    'Purchase Count': CountOfGenderPurchase,
    'Avg Purchase Price': GenderPurchaseMean.map('${:,.2f}'.format),
    'Total Revenue': GenderPurchaseTotal.map('${:,.2f}'.format),
})
GenderPurchaseDataFrame

,# of Players,Purchase Count,Avg Purchase Price,Total Revenue
Female,81,113,$3.20,$361.94
Male,484,652,$3.02,"$1,967.64"
Other / Non-Disclosed,11,15,$3.35,$50.19

## Age Demographics

* Purchase count

* Average purchase price

* Total purchase value

* Average purchase total per person by age group

In [21]:
# Establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 400]

group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '>50']

In [22]:
# Categorize existing players using age bins
PurchaseData['age_group'] =  pd.cut(PurchaseData['Age'], bins, labels=group_labels)

In [23]:
# Get a count of unique values
PlayersAgeGroup = PurchaseData.groupby('age_group').SN.nunique()

# Making data frmae to show by age data
age_demo = pd.DataFrame({
    'Total Count': PlayersAgeGroup,
    'Percentage of Players': (PlayersAgeGroup / PurchaseData.SN.nunique() * 100).map("{:.2f}".format)
})
age_demo

# Factoid: many people over the age of 50 purchase video games :-P

           Total Count Percentage of Players
age_group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40-44               11                  1.91
45-49                1                  0.17
>50                  0                  0.00

## Top Spenders

* SN

* Purchase count

* Average purchase price

* Total purchase value

In [24]:
# Return objects containing counts of unique values and also will ignore N/A
Top5PurchaseData = PurchaseData["SN"].value_counts()

# Groupby sign in name
Top5AveragePurchase = PurchaseData["Price"].groupby(PurchaseData["SN"]).mean()

# Sum up purchases by sign in name
Top5TotalPurchase = PurchaseData["Price"].groupby(PurchaseData["SN"]).sum()

# Put into a data frame
Top5 = pd.DataFrame({
    "Purchase Count":Top5PurchaseData,
    "Average Purchase Price":Top5AveragePurchase,
    "Total Purchase Value":Top5TotalPurchase
})

# Sorting by Total Purchase Value. Using ascending = False gives us descending order
Top5Sort = Top5.sort_values("Total Purchase Value", ascending = False)
Top5Sort["Average Purchase Price"] = Top5Sort["Average Purchase Price"].map("${:.2f}".format)
Top5Sort["Total Purchase Value"] = Top5Sort["Total Purchase Value"].map("${:.2f}".format)

# The :5 gives us the top 5 of the sorted list
Top5Sort[:5]

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Item ID

* Item Name

* Purchase count

* Item price

* Total purchase value

In [25]:
# Setting up to display which items are most popular in our data frame
PopularItems = PurchaseData[['Item ID', 'Item Name', 'Price']]

# Groupby to look at id and name in order to count
ItemPurchased = PopularItems.groupby(["Item ID","Item Name"])["Price"].count()

# Price of each item
item_price = PopularItems.groupby(["Item ID","Item Name"])["Price"].mean()

# Summing purchases for each item
PopItemPurchaseValue = PopularItems.groupby(["Item ID","Item Name"])["Price"].sum()

# Make data frame
PopularItems = pd.DataFrame({
    "Purchase Count":ItemPurchased,
    "Item Price":item_price,
    "Total Purchase Value":PopItemPurchaseValue
})


# Sort out, ascending false = descending
PopItemSort = PopularItems.sort_values("Purchase Count", ascending= False)
PopItemSort["Item Price"]= PopItemSort["Item Price"].map("${:.2f}".format)
PopItemSort["Total Purchase Value"]= PopItemSort["Total Purchase Value"].map("${:.2f}".format)

PopItemSort[:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Item ID

* Item name

* Purchase count

* Item price

* Total purchase value

In [26]:
# Subtle difference; now sorting on the Total Purchase Value so that a higher priced game with fewer sales gained more revenue
PopularItemsSort = PopularItems.sort_values("Total Purchase Value", ascending= False)
PopularItemsSort["Item Price"]= PopularItemsSort["Item Price"].map("${:.2f}".format)
PopularItemsSort["Total Purchase Value"]= PopularItemsSort["Total Purchase Value"].map("${:.2f}".format)

# Show with :5 the top 5 of the descending ordered list
PopularItemsSort[:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

## Observable Trends

* 1) Far more males than females or other genders are purchasing this collection of games.

* 2) The highest percentage of purchasers are in their low to mid twenties; based on this set of data, no one over 50 years old buys games.  From personal experience, I'm not sure I feel this is a good enough data sample as I game with several 50+ gamers.

* 3) On average, when females do purchase a game, they spend more than males.